In [45]:
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
df_hyper=pd.read_csv("ml_datasets/Hypertension-risk-model-main.csv")

In [47]:
df_hyper

,male,age,currentSmoker,cigsPerDay,BPMeds,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Risk
0,1,39,0,0.0,0.0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1,15.0,0.0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,0,0.0,0.0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,0,0.0,0.0,0,185.0,141.0,98.0,25.60,67.0,72.0,1
4239,0,39,1,30.0,0.0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [48]:
df_hyper = df_hyper.rename(columns={'male': 'gender'})

In [49]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Risk
0,1,39,0,0.0,0.0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1,15.0,0.0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,0,0.0,0.0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,0,0.0,0.0,0,185.0,141.0,98.0,25.60,67.0,72.0,1
4239,0,39,1,30.0,0.0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [50]:
female_chol_avg=df_hyper[df_hyper['gender'] == 0]['totChol'].mean()
male_chol_avg=df_hyper[df_hyper['gender'] == 1]['totChol'].mean()

df_hyper.loc[df_hyper['gender'] == 0, 'totChol'] = df_hyper.loc[df_hyper['gender'] == 0, 'totChol'].fillna(female_chol_avg)

df_hyper.loc[df_hyper['gender'] == 1, 'totChol'] = df_hyper.loc[df_hyper['gender'] == 1, 'totChol'].fillna(male_chol_avg)

In [51]:
print(df_hyper.totChol.min(),df_hyper.totChol.max())

107.0 696.0

In [52]:
bins = [107, 303, 500, 696]  
labels = ['Low', 'Medium', 'High']
df_hyper['chol_category'] = pd.cut(df_hyper['totChol'], bins=bins, labels=labels, include_lowest=True)

In [53]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Risk,chol_category
0,1,39,0,0.0,0.0,0,195.0,106.0,70.0,26.97,80.0,77.0,0,Low
1,0,46,0,0.0,0.0,0,250.0,121.0,81.0,28.73,95.0,76.0,0,Low
2,1,48,1,20.0,0.0,0,245.0,127.5,80.0,25.34,75.0,70.0,0,Low
3,0,61,1,30.0,0.0,0,225.0,150.0,95.0,28.58,65.0,103.0,1,Low
4,0,46,1,23.0,0.0,0,285.0,130.0,84.0,23.10,85.0,85.0,0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,248.0,131.0,72.0,22.00,84.0,86.0,0,Low
4236,0,44,1,15.0,0.0,0,210.0,126.5,87.0,19.16,86.0,NaN,0,Low
4237,0,52,0,0.0,0.0,0,269.0,133.5,83.0,21.47,80.0,107.0,0,Low
4238,1,40,0,0.0,0.0,0,185.0,141.0,98.0,25.60,67.0,72.0,1,Low
4239,0,39,1,30.0,0.0,0,196.0,133.0,86.0,20.91,85.0,80.0,0,Low

In [54]:
df_hyper.chol_category.value_counts()

chol_category
Low       3936
Medium     302
High         2
Name: count, dtype: int64

In [55]:
df_hyper=df_hyper.drop(['totChol'],axis='columns')

In [ ]:
female_glucose_avg=df_hyper[df_hyper['gender'] == 0]['glucose'].mean()
male_glucose_avg=df_hyper[df_hyper['gender'] == 1]['glucose'].mean()

df_hyper.loc[df_hyper['gender'] == 0, 'glucose'] = df_hyper.loc[df_hyper['gender'] == 0, 'glucose'].fillna(female_glucose_avg)

df_hyper.loc[df_hyper['gender'] == 1, 'glucose'] = df_hyper.loc[df_hyper['gender'] == 1, 'glucose'].fillna(male_glucose_avg)

print(female_glucose_avg,male_glucose_avg)

81.83605030274802 82.12434017595308

In [57]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,sysBP,diaBP,BMI,heartRate,glucose,Risk,chol_category
0,1,39,0,0.0,0.0,0,106.0,70.0,26.97,80.0,77.00000,0,Low
1,0,46,0,0.0,0.0,0,121.0,81.0,28.73,95.0,76.00000,0,Low
2,1,48,1,20.0,0.0,0,127.5,80.0,25.34,75.0,70.00000,0,Low
3,0,61,1,30.0,0.0,0,150.0,95.0,28.58,65.0,103.00000,1,Low
4,0,46,1,23.0,0.0,0,130.0,84.0,23.10,85.0,85.00000,0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,131.0,72.0,22.00,84.0,86.00000,0,Low
4236,0,44,1,15.0,0.0,0,126.5,87.0,19.16,86.0,81.83605,0,Low
4237,0,52,0,0.0,0.0,0,133.5,83.0,21.47,80.0,107.00000,0,Low
4238,1,40,0,0.0,0.0,0,141.0,98.0,25.60,67.0,72.00000,1,Low
4239,0,39,1,30.0,0.0,0,133.0,86.0,20.91,85.0,80.00000,0,Low

In [58]:

df_hyper = df_hyper.drop(df_hyper[(df_hyper['currentSmoker'] == 'No') & (df_hyper['cigsPerDay'] > 0)].index)

In [59]:

df_hyper = df_hyper.drop(df_hyper[(df_hyper['currentSmoker'] == 'Yes') & (df_hyper['cigsPerDay'] == 0)].index)

In [60]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,sysBP,diaBP,BMI,heartRate,glucose,Risk,chol_category
0,1,39,0,0.0,0.0,0,106.0,70.0,26.97,80.0,77.00000,0,Low
1,0,46,0,0.0,0.0,0,121.0,81.0,28.73,95.0,76.00000,0,Low
2,1,48,1,20.0,0.0,0,127.5,80.0,25.34,75.0,70.00000,0,Low
3,0,61,1,30.0,0.0,0,150.0,95.0,28.58,65.0,103.00000,1,Low
4,0,46,1,23.0,0.0,0,130.0,84.0,23.10,85.0,85.00000,0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,131.0,72.0,22.00,84.0,86.00000,0,Low
4236,0,44,1,15.0,0.0,0,126.5,87.0,19.16,86.0,81.83605,0,Low
4237,0,52,0,0.0,0.0,0,133.5,83.0,21.47,80.0,107.00000,0,Low
4238,1,40,0,0.0,0.0,0,141.0,98.0,25.60,67.0,72.00000,1,Low
4239,0,39,1,30.0,0.0,0,133.0,86.0,20.91,85.0,80.00000,0,Low

In [61]:
df_hyper.glucose.max()

394.0

In [62]:
df_hyper.glucose.min()

40.0

In [63]:
bins = [40, 90, 140, 200,394]  
labels = ['Low_intake', 'Medium_intake', 'High_intake','Very_high_intake']
df_hyper['glucose_category'] = pd.cut(df_hyper['glucose'], bins=bins, labels=labels, include_lowest=True)

In [64]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,sysBP,diaBP,BMI,heartRate,glucose,Risk,chol_category,glucose_category
0,1,39,0,0.0,0.0,0,106.0,70.0,26.97,80.0,77.00000,0,Low,Low_intake
1,0,46,0,0.0,0.0,0,121.0,81.0,28.73,95.0,76.00000,0,Low,Low_intake
2,1,48,1,20.0,0.0,0,127.5,80.0,25.34,75.0,70.00000,0,Low,Low_intake
3,0,61,1,30.0,0.0,0,150.0,95.0,28.58,65.0,103.00000,1,Low,Medium_intake
4,0,46,1,23.0,0.0,0,130.0,84.0,23.10,85.0,85.00000,0,Low,Low_intake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,131.0,72.0,22.00,84.0,86.00000,0,Low,Low_intake
4236,0,44,1,15.0,0.0,0,126.5,87.0,19.16,86.0,81.83605,0,Low,Low_intake
4237,0,52,0,0.0,0.0,0,133.5,83.0,21.47,80.0,107.00000,0,Low,Medium_intake
4238,1,40,0,0.0,0.0,0,141.0,98.0,25.60,67.0,72.00000,1,Low,Low_intake
4239,0,39,1,30.0,0.0,0,133.0,86.0,20.91,85.0,80.00000,0,Low,Low_intake

In [65]:
df_hyper.dtypes

gender                 int64
age                    int64
currentSmoker          int64
cigsPerDay           float64
BPMeds               float64
diabetes               int64
sysBP                float64
diaBP                float64
BMI                  float64
heartRate            float64
glucose              float64
Risk                   int64
chol_category       category
glucose_category    category
dtype: object

In [66]:
female_bmi_avg=df_hyper[df_hyper['gender'] == 0]['BMI'].mean()
male_bmi_avg=df_hyper[df_hyper['gender']== 1]['BMI'].mean()

df_hyper.loc[df_hyper['gender'] == 0, 'BMI'] = df_hyper.loc[df_hyper['gender'] == 0, 'BMI'].fillna(female_bmi_avg)

df_hyper.loc[df_hyper['gender'] == 1, 'BMI'] = df_hyper.loc[df_hyper['gender'] == 1, 'BMI'].fillna(male_bmi_avg)

In [67]:
female_cig_avg=df_hyper[(df_hyper['gender'] == 0)  &  (df_hyper['currentSmoker']==1)]['cigsPerDay'].mean()
male_cig_avg=df_hyper[(df_hyper['gender'] == 1) & (df_hyper['currentSmoker']==1) ]['cigsPerDay'].mean()

print(female_cig_avg,male_cig_avg)
df_hyper.loc[df_hyper['gender'] == 0, 'cigsPerDay'] = df_hyper.loc[df_hyper['gender'] == 0, 'cigsPerDay'].fillna(female_cig_avg)

df_hyper.loc[df_hyper['gender'] == 1, 'cigsPerDay'] = df_hyper.loc[df_hyper['gender'] == 1, 'cigsPerDay'].fillna(male_cig_avg)

14.147843942505133 22.10989010989011

In [68]:
df_hyper=df_hyper.drop(['glucose'],axis='columns')

In [69]:
df_hyper.chol_category.value_counts()

chol_category
Low       3936
Medium     302
High         2
Name: count, dtype: int64

In [70]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,sysBP,diaBP,BMI,heartRate,Risk,chol_category,glucose_category
0,1,39,0,0.0,0.0,0,106.0,70.0,26.97,80.0,0,Low,Low_intake
1,0,46,0,0.0,0.0,0,121.0,81.0,28.73,95.0,0,Low,Low_intake
2,1,48,1,20.0,0.0,0,127.5,80.0,25.34,75.0,0,Low,Low_intake
3,0,61,1,30.0,0.0,0,150.0,95.0,28.58,65.0,1,Low,Medium_intake
4,0,46,1,23.0,0.0,0,130.0,84.0,23.10,85.0,0,Low,Low_intake
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,131.0,72.0,22.00,84.0,0,Low,Low_intake
4236,0,44,1,15.0,0.0,0,126.5,87.0,19.16,86.0,0,Low,Low_intake
4237,0,52,0,0.0,0.0,0,133.5,83.0,21.47,80.0,0,Low,Medium_intake
4238,1,40,0,0.0,0.0,0,141.0,98.0,25.60,67.0,1,Low,Low_intake
4239,0,39,1,30.0,0.0,0,133.0,86.0,20.91,85.0,0,Low,Low_intake

In [71]:
df_hyper.glucose_category.value_counts()

glucose_category
Low_intake          3561
Medium_intake        620
Very_high_intake      34
High_intake           25
Name: count, dtype: int64

In [72]:
df_hyper.chol_category=df_hyper.chol_category.replace({'Low':0,'Medium':1,'High':2})
df_hyper

C:\Users\vikas\AppData\Local\Temp\ipykernel_11348\2853162708.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_hyper.chol_category=df_hyper.chol_category.replace({'Low':0,'Medium':1,'High':2})
C:\Users\vikas\AppData\Local\Temp\ipykernel_11348\2853162708.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_hyper.chol_category=df_hyper.chol_category.replace({'Low':0,'Medium':1,'High':2})

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,sysBP,diaBP,BMI,heartRate,Risk,chol_category,glucose_category
0,1,39,0,0.0,0.0,0,106.0,70.0,26.97,80.0,0,0,Low_intake
1,0,46,0,0.0,0.0,0,121.0,81.0,28.73,95.0,0,0,Low_intake
2,1,48,1,20.0,0.0,0,127.5,80.0,25.34,75.0,0,0,Low_intake
3,0,61,1,30.0,0.0,0,150.0,95.0,28.58,65.0,1,0,Medium_intake
4,0,46,1,23.0,0.0,0,130.0,84.0,23.10,85.0,0,0,Low_intake
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,131.0,72.0,22.00,84.0,0,0,Low_intake
4236,0,44,1,15.0,0.0,0,126.5,87.0,19.16,86.0,0,0,Low_intake
4237,0,52,0,0.0,0.0,0,133.5,83.0,21.47,80.0,0,0,Medium_intake
4238,1,40,0,0.0,0.0,0,141.0,98.0,25.60,67.0,1,0,Low_intake
4239,0,39,1,30.0,0.0,0,133.0,86.0,20.91,85.0,0,0,Low_intake

In [73]:
df_hyper.glucose_category=df_hyper.glucose_category.replace({'Low_intake':0,'Medium_intake':1,'High_intake':2,'Very_high_intake':3})

C:\Users\vikas\AppData\Local\Temp\ipykernel_11348\1088189267.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_hyper.glucose_category=df_hyper.glucose_category.replace({'Low_intake':0,'Medium_intake':1,'High_intake':2,'Very_high_intake':3})
C:\Users\vikas\AppData\Local\Temp\ipykernel_11348\1088189267.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_hyper.glucose_category=df_hyper.glucose_category.replace({'Low_intake':0,'Medium_intake':1,'High_intake':2,'Very_high_intake':3})

In [74]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,BPMeds,diabetes,sysBP,diaBP,BMI,heartRate,Risk,chol_category,glucose_category
0,1,39,0,0.0,0.0,0,106.0,70.0,26.97,80.0,0,0,0
1,0,46,0,0.0,0.0,0,121.0,81.0,28.73,95.0,0,0,0
2,1,48,1,20.0,0.0,0,127.5,80.0,25.34,75.0,0,0,0
3,0,61,1,30.0,0.0,0,150.0,95.0,28.58,65.0,1,0,1
4,0,46,1,23.0,0.0,0,130.0,84.0,23.10,85.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,131.0,72.0,22.00,84.0,0,0,0
4236,0,44,1,15.0,0.0,0,126.5,87.0,19.16,86.0,0,0,0
4237,0,52,0,0.0,0.0,0,133.5,83.0,21.47,80.0,0,0,1
4238,1,40,0,0.0,0.0,0,141.0,98.0,25.60,67.0,1,0,0
4239,0,39,1,30.0,0.0,0,133.0,86.0,20.91,85.0,0,0,0

In [75]:
df_hyper.BPMeds.value_counts()

BPMeds
0.0    4063
1.0     124
Name: count, dtype: int64

In [76]:
df_hyper=df_hyper.drop(['BPMeds'],axis='columns')

In [77]:
df_hyper.dtypes

gender                 int64
age                    int64
currentSmoker          int64
cigsPerDay           float64
diabetes               int64
sysBP                float64
diaBP                float64
BMI                  float64
heartRate            float64
Risk                   int64
chol_category       category
glucose_category    category
dtype: object

In [78]:
df_hyper = df_hyper.dropna()

In [79]:
df_hyper

,gender,age,currentSmoker,cigsPerDay,diabetes,sysBP,diaBP,BMI,heartRate,Risk,chol_category,glucose_category
0,1,39,0,0.0,0,106.0,70.0,26.97,80.0,0,0,0
1,0,46,0,0.0,0,121.0,81.0,28.73,95.0,0,0,0
2,1,48,1,20.0,0,127.5,80.0,25.34,75.0,0,0,0
3,0,61,1,30.0,0,150.0,95.0,28.58,65.0,1,0,1
4,0,46,1,23.0,0,130.0,84.0,23.10,85.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,0,131.0,72.0,22.00,84.0,0,0,0
4236,0,44,1,15.0,0,126.5,87.0,19.16,86.0,0,0,0
4237,0,52,0,0.0,0,133.5,83.0,21.47,80.0,0,0,1
4238,1,40,0,0.0,0,141.0,98.0,25.60,67.0,1,0,0
4239,0,39,1,30.0,0,133.0,86.0,20.91,85.0,0,0,0

In [80]:
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.model_selection import train_test_split

In [81]:
x_train,x_test,y_train,y_test=train_test_split(df_hyper.drop(['Risk'],axis='columns'),df_hyper.Risk,test_size=0.2)

In [82]:
len(x_train)

3391

In [83]:
len(x_test)

848

In [84]:
df_hyper.isna().sum()

gender              0
age                 0
currentSmoker       0
cigsPerDay          0
diabetes            0
sysBP               0
diaBP               0
BMI                 0
heartRate           0
Risk                0
chol_category       0
glucose_category    0
dtype: int64

In [85]:
model=tree.DecisionTreeClassifier()

model.fit(x_train,y_train)

DecisionTreeClassifier()

In [86]:
model.score(x_test,y_test)

0.8514150943396226

In [87]:
model.predict([[0	,48	,1	,20.0	,0	,131.0	,72.0	,22.00,	84.0,		0,	0]])

c:\Users\vikas\OneDrive\Desktop\general_tech\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [88]:
# import pickle

# f=open("models/hypertension_predict_model","wb")
# pickle.dump(model,f)
# f.close()