In [127]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [128]:

df_stroke=pd.read_csv('ml_datasets/healthcare-dataset-stroke-data.csv')

df_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [129]:
# sns.pairplot(df_stroke)

    PREPROCESSING THE DATA

In [130]:
df_stroke.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [131]:
df_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [132]:
print(
    df_stroke.gender.value_counts
)

<bound method IndexOpsMixin.value_counts of 0         Male
1       Female
2         Male
3       Female
4       Female
         ...
5105    Female
5106    Female
5107    Female
5108      Male
5109    Female
Name: gender, Length: 5110, dtype: object>

In [133]:
female_bmi_avg=df_stroke[df_stroke['gender'] == 'Female']['bmi'].mean()
male_bmi_avg=df_stroke[df_stroke['gender']== 'Male']['bmi'].mean()

print(female_bmi_avg,male_bmi_avg)

29.065757680358992 28.64793635007459

In [134]:
df_stroke.loc[df_stroke['gender'] == 'Female', 'bmi'] = df_stroke.loc[df_stroke['gender'] == 'Female', 'bmi'].fillna(female_bmi_avg)

df_stroke.loc[df_stroke['gender'] == 'Male', 'bmi'] = df_stroke.loc[df_stroke['gender'] == 'Male', 'bmi'].fillna(male_bmi_avg)

In [135]:
df_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,29.065758,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,29.065758,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [136]:
df_stroke.gender=df_stroke.gender.replace({
    'Male':1,
    'Female':0
})
df_stroke.ever_married=df_stroke.ever_married.replace({
    'Yes':1,
    'No':0
})

df_stroke

C:\Users\vikas\AppData\Local\Temp\ipykernel_14724\932819248.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_stroke.ever_married=df_stroke.ever_married.replace({

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,0,61.0,0,0,1,Self-employed,Rural,202.21,29.065758,never smoked,1
2,31112,1,80.0,0,1,1,Private,Rural,105.92,32.500000,never smoked,1
3,60182,0,49.0,0,0,1,Private,Urban,171.23,34.400000,smokes,1
4,1665,0,79.0,1,0,1,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,Private,Urban,83.75,29.065758,never smoked,0
5106,44873,0,81.0,0,0,1,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,0,35.0,0,0,1,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,1,51.0,0,0,1,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,0,44.0,0,0,1,Govt_job,Urban,85.28,26.200000,Unknown,0

In [137]:
df_stroke.smoking_status.unique

<bound method Series.unique of 0       formerly smoked
1          never smoked
2          never smoked
3                smokes
4          never smoked
             ...
5105       never smoked
5106       never smoked
5107       never smoked
5108    formerly smoked
5109            Unknown
Name: smoking_status, Length: 5110, dtype: object>

In [138]:
df_stroke = df_stroke[df_stroke['smoking_status'] != 'Unknown']

In [139]:
print(df_stroke.smoking_status.value_counts())

smoking_status
never smoked       1892
formerly smoked     885
smokes              789
Name: count, dtype: int64

In [140]:
df_stroke.smoking_status=df_stroke.smoking_status.replace({
    'never smoked': 0,
    'formerly smoked':1,
    'smokes': 2
})

C:\Users\vikas\AppData\Local\Temp\ipykernel_14724\1710793988.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_stroke.smoking_status=df_stroke.smoking_status.replace({
C:\Users\vikas\AppData\Local\Temp\ipykernel_14724\1710793988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stroke.smoking_status=df_stroke.smoking_status.replace({

In [141]:
df_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,Private,Urban,228.69,36.600000,1,1
1,51676,0,61.0,0,0,1,Self-employed,Rural,202.21,29.065758,0,1
2,31112,1,80.0,0,1,1,Private,Rural,105.92,32.500000,0,1
3,60182,0,49.0,0,0,1,Private,Urban,171.23,34.400000,2,1
4,1665,0,79.0,1,0,1,Self-employed,Rural,174.12,24.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5102,45010,0,57.0,0,0,1,Private,Rural,77.93,21.700000,0,0
5105,18234,0,80.0,1,0,1,Private,Urban,83.75,29.065758,0,0
5106,44873,0,81.0,0,0,1,Self-employed,Urban,125.20,40.000000,0,0
5107,19723,0,35.0,0,0,1,Self-employed,Rural,82.99,30.600000,0,0
5108,37544,1,51.0,0,0,1,Private,Rural,166.29,25.600000,1,0

In [160]:
df_stroke.Residence_type.value_counts()

Residence_type
1    1814
0    1751
Name: count, dtype: int64

In [142]:
df_stroke.Residence_type.value_counts()

Residence_type
Urban    1814
Rural    1752
Name: count, dtype: int64

In [143]:
df_stroke.Residence_type=df_stroke.Residence_type.replace({'Urban':1, 'Rural':0})

C:\Users\vikas\AppData\Local\Temp\ipykernel_14724\3533365494.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_stroke.Residence_type=df_stroke.Residence_type.replace({'Urban':1, 'Rural':0})
C:\Users\vikas\AppData\Local\Temp\ipykernel_14724\3533365494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stroke.Residence_type=df_stroke.Residence_type.replace({'Urban':1, 'Rural':0})

In [144]:
df_stroke.work_type.value_counts()

work_type
Private          2285
Self-employed     663
Govt_job          535
children           69
Never_worked       14
Name: count, dtype: int64

In [145]:
df_stroke.age=df_stroke.age.round()

C:\Users\vikas\AppData\Local\Temp\ipykernel_14724\2561354708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stroke.age=df_stroke.age.round()

In [146]:
df_stroke = df_stroke[df_stroke['age'] != 0]

In [147]:
df_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,Private,1,228.69,36.600000,1,1
1,51676,0,61.0,0,0,1,Self-employed,0,202.21,29.065758,0,1
2,31112,1,80.0,0,1,1,Private,0,105.92,32.500000,0,1
3,60182,0,49.0,0,0,1,Private,1,171.23,34.400000,2,1
4,1665,0,79.0,1,0,1,Self-employed,0,174.12,24.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5102,45010,0,57.0,0,0,1,Private,0,77.93,21.700000,0,0
5105,18234,0,80.0,1,0,1,Private,1,83.75,29.065758,0,0
5106,44873,0,81.0,0,0,1,Self-employed,1,125.20,40.000000,0,0
5107,19723,0,35.0,0,0,1,Self-employed,0,82.99,30.600000,0,0
5108,37544,1,51.0,0,0,1,Private,0,166.29,25.600000,1,0

In [148]:
df_stroke.work_type.value_counts()

work_type
Private          2285
Self-employed     663
Govt_job          535
children           69
Never_worked       14
Name: count, dtype: int64

In [149]:
df_stroke.work_type=df_stroke.work_type.replace({
    'children': 0,
    'Never_worked':1,
    'Self-employed':2,
    'Govt_job':3,
    'Private':4
})

df_stroke = df_stroke[df_stroke['gender'] != 'Other']
df_stroke=df_stroke.drop(['id'],axis='columns')
df_stroke=df_stroke.drop(['avg_glucose_level'],axis='columns')

C:\Users\vikas\AppData\Local\Temp\ipykernel_14724\1095547491.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_stroke.work_type=df_stroke.work_type.replace({

In [161]:
df_stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,bmi,smoking_status,stroke
0,1,67.0,0,1,1,4,1,36.600000,1,1
1,0,61.0,0,0,1,2,0,29.065758,0,1
2,1,80.0,0,1,1,4,0,32.500000,0,1
3,0,49.0,0,0,1,4,1,34.400000,2,1
4,0,79.0,1,0,1,2,0,24.000000,0,1
...,...,...,...,...,...,...,...,...,...,...
5102,0,57.0,0,0,1,4,0,21.700000,0,0
5105,0,80.0,1,0,1,4,1,29.065758,0,0
5106,0,81.0,0,0,1,2,1,40.000000,0,0
5107,0,35.0,0,0,1,2,0,30.600000,0,0
5108,1,51.0,0,0,1,4,0,25.600000,1,0

In [150]:
df_stroke.gender.value_counts()

gender
0    2158
1    1407
Name: count, dtype: int64

In [151]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [152]:
x_train,x_test,y_train,y_test=train_test_split(df_stroke.drop(['stroke'],axis='columns'),df_stroke.stroke,test_size=0.2)

In [153]:
len(x_train)

2852

In [154]:
len(x_test)

713

In [155]:
# model=tree.DecisionTreeClassifier()
model=LogisticRegression()

In [156]:
model.fit(x_train,y_train)

c:\Users\vikas\OneDrive\Desktop\general_tech\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [157]:
model.score(x_test,y_test)

0.9481065918653576

In [ ]:
# import pickle

# f= open("models/stroke_predict_model",'wb')
# pickle.dump(model,f)
# f.close()